body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#matrix-container {
    margin-bottom: 20px;
    background: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

.control-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#cycle-button {
    background-color: #4CAF50;
}

#cycle-button:hover {
    background-color: #45a049;
}

#cycle-button:active {
    background-color: #3e8e41;
}

#play-stop-button {
    background-color: #2196F3;
}

#play-stop-button:hover {
    background-color: #1E88E5;
}

#play-stop-button:active {
    background-color: #1976D2;
}

/* creatures */

.creature {
    position: absolute;
    transition: transform 0.3s ease-out;
    width: 60%; /* Adjust based on your creatureSize */
    height: 60%; /* Adjust based on your creatureSize */
    border-radius: 50%;
    box-shadow: inset -3px -3px 5px rgba(0,0,0,0.2),
    2px 2px 5px rgba(0,0,0,0.3);
}

.creature_0 {
    background: radial-gradient(circle at 30% 30%, #ff6b6b, #ee5253);
}

.creature_1 {
    background: radial-gradient(circle at 30% 30%, #54a0ff, #2e86de);
}

.creature_2 {
    background: radial-gradient(circle at 30% 30%, #5f27cd, #341f97);
}

.creature::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.8), rgba(255,255,255,0));
}

.food {
    position: absolute;
    transition: all 0.3s ease-out;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FFA500; /* Orange color for pizza */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: center bottom;
}

.food::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Should be negative of border-bottom */
    left: -10px; /* Should be negative of border-left */
    width: 20px; /* Should be double of border-left */
    height: 4px;
    background-color: #FF0000; /* Red color for tomato sauce */
    border-radius: 0 0 10px 10px;
}

.food-amount {
    position: absolute;
    bottom: -18px; /* Adjust as needed */
    font-size: 8px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}